
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

header .header-text {
  margin-top: 1em;
}

header h1 {
  margin-top: 0.5em;
  font-size: 2em;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

.links h3 {
  margin-top: 1em;
}

.links a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 0.5em 0;
  }
}
